{% extends "base.html" %}
{% load static %}
{% block  content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }
    .card {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
        color: #333;
    }
    form {
        margin-top: 20px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        width: 100%;
    }
    button:hover {
        background-color: #0056b3;
    }







    .alert {
        padding: 20px;
        background-color: #d4edda;
        font-family: verdana;
        color: #155724;
      }
      
      .closebtn {
        margin-left: 15px;
        color: #155724;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      .closebtn:hover {
        color: black;
      }
</style>


<div class="card">
    <h2>Login Form</h2>

    {% for message in messages %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <strong>{{ message }}</strong> 
      </div>
  {% endfor %}
  

    <form method="post">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="username" required>
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password" required>
        <button type="submit">Login</button>
    </form>
</div>

{% endblock  %}